# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
*.log

# Virtual environment
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example
